<div data-role="page">
    <div data-role="content">

        <h2><%- t['Whos in your awesome team?'] %></h2>

        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="member"><%- t['Add people'] %>:</label>
            <input type="text" name="member" id="member" value="" maxlength="25" 
                placeholder="<%- t['John, Lisa or any other name'] %>..."/>
        </div>

        <div id="members-list">
            <!-- 
            <div class="list-none">please add people</div>
            <div class="list-item">
                <div class="money-plus">$100</div>
                <div class="members-list-user">John</div>
            </div>
            <div class="list-item">
                <div class="money-minus">$100</div>
                <div class="members-list-user">Mark</div>
            </div>
            <div class="list-item">
                <div class="money-none">$0</div>
                <div class="members-list-user">Alex</div>
            </div>
            -->
        </div>

        <div id="payments">
            
            <h2><%- t['Where you spend the money?'] %></h2>

            <div data-role="fieldcontain" class="ui-hide-label">
                <label for="member"><%- t['Add payment'] %>:</label>
                <input type="text" name="payment" id="payment" value="" maxlength="30" 
                    placeholder="<%- t['Pizza, taxi, beer'] %>..."/>
            </div>

            <div id="spendings-list">
                <div class="list-none"><%- t['you can add payments now'] %></div>
                <div class="list-item"></div>
            </div>
        </div>

    </div><!-- /content -->
</div><!-- /page -->

<div id="payment-details" class="payment-details-page" data-role="page" data-theme="c">
</div><!-- /page -->