<h2><%- t['Whos in your awesome team?'] %></h2>

<div data-role="fieldcontain" class="ui-hide-label">
    <label for="member"><%- t['Add people'] %>:</label>
    <input type="text" name="member" id="member" value="" maxlength="25" 
        placeholder="<%- t['John, Lisa or any other name'] %>..."/>
</div>

<div id="members-list">
    <!-- 
    <div class="list-none">please add people</div>
    <div class="list-item">
        <div class="money-plus">$100</div>
        <div class="members-list-user">John</div>
    </div>
    <div class="list-item">
        <div class="money-minus">$100</div>
        <div class="members-list-user">Mark</div>
    </div>
    <div class="list-item">
        <div class="money-none">$0</div>
        <div class="members-list-user">Alex</div>
    </div>
    -->

	<% if (members.length === 0) { %>

	<div class="list-none"><%- t['please add people'] %></div>

	<% } else { %>

		<% members.forEach(function(member) {
			var budget = member.get('money');
		    var moneyClass = (budget === 0) ? 'none' : (budget > 0 ? 'plus' : 'minus');
		%>
		<div class="list-item">
			<div class="money-<%- moneyClass %>">$<%- Math.abs(budget).toFixed(2) %></div>
			<div class="list-user" data-icon="minus"><%- member.get('name') %></div>
		</div>
		<% });

	} %>

</div>