<h2><%- t['Group Payments'] %></h2>

<div data-role="fieldcontain" class="ui-hide-label">
    <label for="payment"><%- t['Add payment'] %>:</label>
    <input type="text" name="payment" id="payment" value="" maxlength="30" 
        placeholder="<%- t['Pizza, taxi, beer'] %>..."/>
</div>

<div id="spendings-list">
<% if (items.size() === 0) { %>
	<div class="list-none"><%- t['you can add payments now'] %></div>
<% } else { %>
	<% items.forEach(function(item, index) {

		var members = [];
        $.each(item.get('shares'), function(key, value) {
        	// TODO: move this login to model
            if (value === 0) {
                return;
            }
            members.push(key + ' $' + value);
        });
        %>

        <div class="list-item" data-id="<%- index %>">
        	<div class="money-none">$<%- item.get('total') %></div>
        	<div class="list-user"><%- item.get('description') %>
        		<span class="description"><%- members.join(', ') %></span>
        	</div>
        </div>

	<% }); %>
<% } %>
</div>