<div data-role="header">
    <h1><%- t['Payment details'] %></h1>
</div>
<div data-role="content">
    <!--
    <input id="select-all"  type="checkbox" checked="checked"><label for="select-all">All</label>
    -->
    <table class="group-settings">
        <!--
        <tr>
            <td><input id="j" type="checkbox"><label for="j">John</label></td>
            <td class="money-value"><input type="text" value=""  /></td>
        </tr>
        -->
    </table>

    <div data-role="controlgroup" data-type="horizontal">
        <button id="payment-details-save" tabindex="100" data-icon="check" 
            data-role="button"><%- t['Save'] %></button>
        <button id="payment-details-cancel" tabindex="101" data-icon="delete" 
            data-role="button" data-iconpos="notext"></button>
    </div>

</div><!-- /content -->